
<header class="container navbar-buffer">
  <h2>Editing <%= @current_listing.title %></h2>
</header>

<div class="container">
  <%= link_to "Back to Listing", listing_path(@current_listing), class: "btn btn-info" %>
  <%= simple_form_for @current_listing, html: {class: "hero-form", multipart: true}, url: listing_path, method: :patch do |f| %>
    <%= f.input :photos, multiple: true %>
    <%= f.input :title, required: true%>
    <%= f.input :description, required: true %>
    <%= f.input :price, required: true %>
    <%= f.input :home_type, default: home_types[0], collection: home_types %>
    <%= f.input :room_type, default: room_types[0], collection: room_types %>
    <%= f.input :accommodates, default: 1, collection: 1..16 %>
    <%= f.input :address, required:true %>
    <%= f.input :city, required:true %>
    <%= f.input :postal_code, label: "Postal code" %>
    <%= f.input :state, required: true %>
    <%= f.input :country, default: countries_list[0], collection: countries_list, label: "Country" %>
    <%= f.button :submit, value: "Update" %>
  <% end %>
</div>
