<div class="navbar-buffer">

</div>
<div class="container">
  <header>
  <h1><%= @current_listing.title %></h1>
  </header>

  <div class="listing-body">

    <% if user_logged_in? && (@current_listing.user_id).to_i == current_user.id %>
      <%= link_to "Edit Listing", edit_listing_path, class: "btn btn-info" %>

    <% else %>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">

        <%= form_for @new_booking, url: bookings_path, method: :post, id: "booking-container" do |f| %>
            <div class="input-group">

              <span class="input-group-addon">FROM</span>
              <%= f.text_field :check_in_date, label:false, placeholder: "Check In Date", class: "input-md form-control", id: "check-in-datepicker", readonly: true %>
              <span class="input-group-addon">TO</span>
              <%= f.text_field :check_out_date, label:false, placeholder: "Check Out Date", class: "input-md form-control", id: "check-out-datepicker", readonly: true%>
              <%= f.hidden_field :blocked_dates, value: @blocked_dates %>
              <%= f.hidden_field :customer_id, value: current_user.id %>
              <%= f.hidden_field :listing_id, value: @current_listing.id %>
              <span class="input-group-btn">
                <%= f.submit "Book it!", class: "btn btn-danger"%>
              </span>
            </div>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6"></div>
    </div>

    <% end %>

    <h4>Gallery:</h4>

      <% if user_logged_in? && (@current_listing.user_id).to_i == current_user.id && @current_listing.listings_photos.empty?%>

        <%= simple_form_for :listing_info, url: new_listings_photo_path, method: :get do |f| %>
          <%= f.hidden_field :listing_id, as: :hidden,value: @current_listing.id  %>
          <%= f.button :submit, value: "Add Photos", class: "btn btn-info" %>
        <% end %>

      <% elsif user_logged_in? && (@current_listing.user_id).to_i == current_user.id %>

        <% @current_listing.listings_photos.each do |photo| %>
        <%= image_tag(photo.listing_photo_url(:display)) %>
        <% end %>

        <%= simple_form_for :listing_info, url: edit_listings_photo_path, method: :get do |f| %>
          <br/>
          <%= f.button :submit, value: "Edit Gallery", class: "btn btn-info" %>
        <% end %>

      <% end %>

    <br/>
    <h4>Description:</h4>
    <p>
      <%= @current_listing.description %>
    </p>
  </div>
</div>
