
<div class="registration_body">

  <h1>Sign up</h1>

  <% if @current_user && @current_user.errors.present? %>
    <ul>
      <% @errors = @current_user.errors %>
      <%= render partial: "shared/partials/errors_msg_loop" %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">

      <%= simple_form_for @current_user, html: {class: "hero-form"}, url: sign_up_path do |f| %>
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name, required: true %>
      <%= f.input :user_name, required: true %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true%>
      <%= f.input :password_confirmation, required: true %>
      <%= f.button :submit, value: "Sign Up", required: true %>

      <% end %>

      <div class="line-breaker">
        <h2></h2>
      </div>

      <div class="social-button">
        <a class="tn btn-block btn-social btn-lg btn-facebook" href="/auth/facebook">
          <i class="fa fa-facebook"></i>
          <span>Sign in with Facebook</span>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
    </div>
  </div>


</div>
