<!DOCTYPE html>
<html>
<head>
  <title>Pairbnb</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% unless @js_custom_turbolink.nil? %>
    <%= javascript_include_tag  'application', media: 'all', data: @custom_turbolink  %>
  <% else %>
    <%= javascript_include_tag 'application', data: {'turbolinks-track' => true} %>
  <% end %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/theme-default.min.css"
  rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>

<body>
  <nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <%= link_to(root_path, html_options = {class: "navbar-brand"}) do %>
        <i class="fa fa-plane"></i>
        PairBnB
        <i class="fa fa-bed"></i>
      <% end %>

    </div>
    <%= form_for :listing_search_bar, method: "get", url: listings_search_index_path, html: {class: "navbar-form navbar-left navbar-input-group"} do |f| %>
      <div class="">
        <% if @current_query.present? %>
          <%= f.text_field :query, value: @current_query, class: "form-control", placeholder: "Where are you going?" %>
        <% else %>
          <%= f.text_field :query, class: "form-control", placeholder: "Where are you going?" %>
        <% end %>
        <% if @current_check_in_date.present? %>
          <%= f.text_field :check_in_date, value: @current_check_in_date, class: "input-md form-control", placeholder: "Check In Date", id: "nav-bar-search-check-in-datepicker", readonly: true %>
        <% else %>
          <%= f.text_field :check_in_date, class: "input-md form-control", placeholder: "Check In Date", id: "nav-bar-search-check-in-datepicker", readonly: true %>
        <% end %>
        <% if @current_check_out_date.present? %>
          <%= f.text_field :check_out_date, value: @current_check_out_date, class: "input-md form-control", placeholder: "Check Out Date", id: "nav-bar-search-check-out-datepicker", readonly: true %>
        <% else %>
          <%= f.text_field :check_out_date, class: "input-md form-control", placeholder: "Check Out Date", id: "nav-bar-search-check-out-datepicker", readonly: true %>
        <% end %>
        <span>
          <%= f.button "Clear Dates",type: "button", class: "btn btn-info btn-sm-font", id: "nav-bar-clear-dates" %>
        </span>
        <span>
          <%= f.submit("Search", class: "btn btn-info", id: "nav-bar-search-submit") %>
        </span>
      </div>
    <% end %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "List Your Space!", new_listing_path, class: "add-border"%></li>
          <% if !user_logged_in? %>
            <%= render partial: "shared/partials/navbar/not_logged_in_nav_elements" %>
          <% else %>
            <%= render partial: "shared/partials/navbar/logged_in_nav_elements" %>
          <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div>
  <%= render partial: "shared/partials/flashmsgs" %>
</div>

  <%= yield %>

</body>
</html>
